<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Main</title>
        <link rel="stylesheet" href="{{=it.helper.get('css/main.css')}}" media="all" />
        <script type="text/javascript" src="{{=it.helper.get('js/all.min.js')}}"></script>        
        <script type="text/javascript" src="{{=it.helper.get('js/app.min.js')}}"></script>
    </head>
    <body>
        {{#body}}
    </body>
</html>