<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Index -- Layout</title>
    </head>
    <body>
        {{#body}}
    </body>
</html>